{% liquid
  assign product = closest.product
  assign trg_currency = product.metafields.trg.currency | default: 'USD'
%}

{% if product != blank and product.vendor != blank %}
  <p class="trg-plp-card-brand" data-trg-currency="{{ trg_currency }}" data-trg-price="{{ product.price }}" {{ block.shopify_attributes }}>
    {{ product.vendor | escape }}
  </p>
{% endif %}

{% schema %}
{
  "name": "TRG product brand",
  "tag": null,
  "settings": []
}
{% endschema %}
